[submodule "st"]
	path = bin/st
	url = https://github.com/jsnal/st
[submodule "bin/fzy"]
	path = bin/fzy
	url = https://github.com/jhawthorn/fzy
[submodule "nvim/pack/ramen/start/cmp-nvim-lsp"]
	path = nvim/pack/ramen/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim/pack/ramen/start/lexima.vim"]
	path = nvim/pack/ramen/start/lexima.vim
	url = https://github.com/cohama/lexima.vim
[submodule "nvim/pack/ramen/start/nvim-base16"]
	path = nvim/pack/ramen/start/nvim-base16
	url = https://github.com/RRethy/nvim-base16
[submodule "nvim/pack/ramen/start/nvim-cmp"]
	path = nvim/pack/ramen/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim/pack/ramen/start/nvim-lspconfig"]
	path = nvim/pack/ramen/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/ramen/start/nvim-rooter.lua"]
	path = nvim/pack/ramen/start/nvim-rooter.lua
	url = https://github.com/notjedi/nvim-rooter.lua
[submodule "nvim/pack/ramen/start/tcomment_vim"]
	path = nvim/pack/ramen/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "nvim/pack/ramen/start/vim-picker"]
	path = nvim/pack/ramen/start/vim-picker
	url = https://github.com/srstevenson/vim-picker
[submodule "nvim/pack/ramen/start/bufexplorer"]
	path = nvim/pack/ramen/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
