[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "st"]
	path = bin/st
	url = https://github.com/jsnal/st
[submodule "bin/fzy"]
	path = bin/fzy
	url = https://github.com/jhawthorn/fzy
