html, body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #fff;
  font-size: 14px;
}

#container {
  z-index: 9999;
  position: fixed;
  padding: 0 0px 0 0px;
  top: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: auto; 
}

#links-container {
  display: -moz-box;
  width: 100%;
}

.qotd-container, .links-card, .longbar {
  box-shadow: 1px 1px 4px 0px #111;
  -moz-box-flex: 1;
  border-radius: 4px;
  margin: 4px;
  padding: 8px 8px 8px 8px;
  background-color: #101010;
  border: 5px solid #101010;
}

.links-card a {
	display: block;
	text-decoration: none;
  font-weight: bold;
}

.cyan {
  color: #5c8cbc;
  padding: 0;
}

.blue {
  color: #708ca4;
  padding: 0;
}

.blue:hover {
  background-color: #708ca4;
  color: #fff;
}

.green {
  color: #4fa7a1;
  padding: 0;
}

.pink {
  color: #8c6d94;
  padding: 0;
}

.pink:hover {
  background-color: #8c6d94;
  color: #fff;
}

.red {
  color: #bf535f;
  padding: 0;
}
.gray {
  color: #B4B4B4;
  padding: 0;
}

input	{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
	display: inline;
	background: none;
	display: inline;
	border: none;
	color: #B4B4B4;
	width: 70%;
}

.hint {
  position: absolute;
  z-index: 2147483647;
  background-color: yellow;
  border: 1px solid gold;
  font-weight: bold;
  color: black;
}

.qotd-container {
  text-align: center;
}

#qotd {
  font-weight: normal;
  color: #4fa7a1
}

.author {
  text-decoration: none;
  color: #4fa7a1;
}

.author:hover {
  text-decoration: underline;
}
